body {
    background-color: #deeeb4;
    font-family:  sans-serif;
    font-weight: 10;
    margin:0px;
    border-left: 8px dotted black;
    
}
.cloud {
    float:left ;
    width: 250px;
    margin-right: 200px;
}
.name {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    position: relative;
    margin-left: 550px;
}
.h3 {
    position: absolute;
    margin-left: 600px;
}
.myskills {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;

}
.skilldiv {
    
    margin-left: 180px;
    border: 3px solid rgb(236, 102, 102);
    background-color: rgb(243, 124, 124);
}
.skilllist {
    font-size: 45px;
    font-style: bold;
}
.codeicon {
    width: 200px;
    position: absolute;
    margin-bottom: 1px;
    margin-left: 500px;
}
.hr {
    width:80px;
    border-top: 10px dotted rgb(36, 31, 34);
    border-bottom: none;
    margin-top: 60px;
    margin-bottom: 60px;
}
.achievementsdiv {
    position: relative;
    margin-left: 450px;
    
}
.achicon {
    
    float: left;
    width: 200px;
    margin-right: 400px;
}
.myachievements {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    margin-left: 400px;
    margin-top: opx;
}
.certificate {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;

}
.projects {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    margin-left: 400px;
}
.projecticon {
    width: 200px;
    float: left;
    margin-right: 400px;
}
.topnavbar {
    height: 40px;
    background-color: rgb(243, 124, 124);
    padding-top: 16px;
}
.connectme {
    margin-left: 1050px;
    font-size: large;
}
.connecticons {
    width: 30px;
    margin-left: 25px;
}
.bottomnavbar {
    height: 120px;
    background-color: rgb(243, 124, 124);
}
.bottomcontent {
    font-size: 20px;
}
.hello {
    float: right;
    height: 300px;
    margin-right: 60px;

}
.bottomcontent:hover {
    color: rgb(236, 5, 5); 
    text-decoration:underline;   
}